.zero-section {
    background: url('../images/landing-footer.jpg') no-repeat center center;
    background-size: cover;
    padding: 20px;
}
.zero-section input {
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid white;
    padding: 10px;
    color: white;
}
.zero-section input::placeholder {
    color: white;
}
.zero-section small.footer-info {
    display: flex;
    font-weight: 500;
}
.zero-section h1.text-white {
    font-size: 125px;
    letter-spacing: 33px;
}
